@use "./abstracts/" as *;
.footer {
  background-color: $Background-Color;
  padding: $margin-4 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    gap: calc($Gap-big + 0.8rem);
    max-width: 120rem;
    margin: 0 auto;
    padding: $Padding-normal;
  }

  &__company {
    &-info {
      display: flex;
      gap: $Gap-big;
    }

    &-logos {
      display: inherit;
      flex-direction: column;
      gap: $Gap-mid;

      #company-logo {
        height: clamp(1.6rem, 45%, 2rem);
      }
    }
  }

  &__social-list {
    display: flex;
    gap: $Gap-small;

    ion-icon {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__copyright {
    color: $Grey-2;
    font-size: clamp($font-size-small, 2vw, $font-size-normal);
    line-height: 1.6;
    max-width: 28ch;
    margin-top: auto;
  }

  &__section-container {
    display: flex;
    justify-content: space-between;
    gap: clamp($Gap-mid, 4vw, $Gap-big-1);
  }

  &__contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-style: normal;
    font-size: clamp($font-size-small, 2vw, $font-size-normal);

    &-address {
      line-height: 1.6;
    }

    &-information {
      margin-top: auto;

      a {
        font-size: inherit;

        &:first-child {
          margin-bottom: $margin-base;
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $Gap-small;

    &-list {
      display: inherit;
      flex-direction: inherit;
      gap: calc($Gap-small + 0.6rem);
    }

    &-title {
      color: $Grey-1;
      font-size: clamp($font-size-normal, 2vw, calc($font-size-normal + 0.2rem));
      font-weight: $font-weight-500;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $Grey-2;
      font-size: clamp($font-size-small, 2vw, $font-size-normal);
      font-weight: $font-weight-400;
    }

    &:hover,
    &:active {
      color: $Grey-1;
    }
  }
}
