@use "./abstracts" as *;
// Resets

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px $Tertiary-Color;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  font-weight: $font-weight-400;
  line-height: 1;
  color: $Grey-2;
}

a {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: $Grey-1;
    font-size: $font-size-normal;
    font-weight: $font-weight-500;
    transition: color $slow-transition;
  }

  &:hover,
  &:active {
    color: $Primary-Color;
  }
}

ul,
ol {
  list-style: none;
}
