.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 7.5rem;
  background-color: $Background-Color;
  box-shadow: 0 2px 5px $Grey-4;
  padding: 0 $Padding-small;
