.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 7.5rem;
  background-color: $Background-Color;
  box-shadow: 0 2px 5px $Grey-4;
  padding: 0 $Padding-small;

  &__btn-skip {
    &:link,
    &:visited {
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: $font-size-small;
      color: $White;
      background-color: $Grey-1;
      padding: 0.4rem 0.8rem;
      border: none;
      transform: translateY(-120%);
      transition: transform $slow-transition;
    }

    &:focus {
      transform: translateY(0);
    }
  }

  &__logo {
    height: 1.6rem;
    max-height: 2rem;
  }

  &__links-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style: none;

    img {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
    background-color: $White;
    box-shadow: 1px 1px 3px $Grey-4;
  }

  &__hamburger-line {
    display: block;
    margin: 0 auto;
    width: 2rem;
    height: 0.2rem;
    background-color: $Grey-1;
    transition: transform 0.2s, opacity 0.2s;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }


.open {
  .header__lines-container {
    transform: translateX(-5px);
  }
  .line-bottom,
  .line-bottom,
  .line-middle {
    border-radius: 2px;
  }
  .line-top {
    height: 0.3rem;
    transform: translate(10px, 1px) rotate(45deg);
  }

  .line-bottom {
    height: 0.3rem;
    transform: translate(10px, -1px) rotate(-45deg);
  }
}
