// Color variables
$Primary-Color: #e67e22;
$Secondary-Color: #b8651b;
$Tertiary-Color: #eea564;
$Sticky-Nav-Color: rgba(255, 255, 255, 0.952);
$Background-Color: #fdf2e9;
$Grey-1: #333;
$Grey-2: #555;
$Grey-3: #6f6f6f;
$Grey-4: #ddd;
$White: #fff;
$Tag-Paleo: #ffd43b;
$Tag-Vegan: #94d82d;
$Tag-Vegetarian: #51cf66;
