// Font related
$font-family: "Rubik", sans-serif;
$font-weight-400: 400;
$font-weight-500: 500;
$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;

// transitions
$slow-transition: 0.3s ease-in;

// Padding
$Padding-small: 2rem;
$Padding-normal: 3.2rem;
$Padding-big: 4.8rem;

// Flex or Grid Gaps
$Gap-small: 2rem;
